<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Calcul du IMC </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-label>Fruit : </ion-label>
    <ion-input [(ngModel)]="fruit"></ion-input> <br />
    
    <ion-button (click)="onAjouterFruit()"><ion-icon name="body-outline"></ion-icon></ion-button>
    <br />
    <ion-item *ngFor="let fruit of fruits, let i = index">
      {{ fruit }}
      <ion-button (click)="onEffacerFruit(i)"><ion-icon name="trash"></ion-icon></ion-button>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-label>Nom : </ion-label>
    <ion-input [(ngModel)]="nom"></ion-input> <br />
    <ion-label>Prénom : </ion-label>
    <ion-input [(ngModel)]="prenom"></ion-input> <br />
    <ion-button (click)="onAjouterPersonne()"><ion-icon name="body-outline"></ion-icon></ion-button>
    <br />
    <ion-item *ngFor="let p of personnes, let i = index">
      {{ p.prenom }} {{ p.nom }}
      <ion-button (click)="onEffacerPersonne(i)"><ion-icon name="trash"></ion-icon></ion-button>
    </ion-item>
  </ion-card>
</ion-content> 
