<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Liste de fruits et Personnes sur Firebase </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-label>Fruit : </ion-label>
    <ion-input [(ngModel)]="fruit"></ion-input> <br />
    
    <ion-button (click)="onAjouterFruit()"><ion-icon name="bag-outline"></ion-icon></ion-button>
    <br />
    <ion-list *ngFor="let fruit of fruits, let i = index">
      {{ fruit }}
      <ion-button (click)="onEffacerFruit(i)" color="danger"><ion-icon name="trash"></ion-icon></ion-button>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-label>Nom : </ion-label>
    <ion-input [(ngModel)]="nom"></ion-input> <br />
    <ion-label>Prénom : </ion-label>
    <ion-input [(ngModel)]="prenom"></ion-input> <br />
    <ion-button (click)="onAjouterPersonne()"><ion-icon name="body-outline"></ion-icon></ion-button>
    <br />
    <ion-list *ngFor="let p of personnes, let i = index">
      {{ p.prenom }} {{ p.nom }}
      <ion-button (click)="onEffacerPersonne(i)" color="danger"><ion-icon name="trash"></ion-icon></ion-button>
    </ion-list>
  </ion-card>
</ion-content> 
